{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    <h1>
        {{ curso }}
    </h1>
</div>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"> Id</th>
        <th scope="col"> Produto</th>
        <th scope="col"> Preço</th>
        <th scope="col"> Estoque</th>
    </tr>
    </thead>
    <tbody>
    {% if produtos.first is not null %}
        {% for produto in produtos %}
            <tbody>
            <tr>
                <td>{{ produto.id }}</td>
                <td>
                    <a href="#modal{{ produto.id }}" data-toggle="modal">
                        {{ produto.nome }}
                    </a>
                </td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>

            <div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" id="modal{{ produto.id }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </tbody>
</table>


{% bootstrap_javascript jquery='full' %}
</body>
</html>