{% load bootstrap4 %}
<!doctype html>
<html lang="pt-br">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>
</head>
<body>

    <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="post" class="form"  enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}

        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-sm btn-success">Finalizar</button>
            {% endbuttons %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>